.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.error {
    color: red;
}

.message_wrapper {

    width: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.buttons_wrapper {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.input_wrapper {
    position: relative;
    width: inherit;
}

.image {
    opacity: 0.7;
    position: absolute;
    width: 25px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: .1s linear;
}

.image:hover {
    opacity: 1;
}
