.card {
    border-radius: 15px;
    width: inherit;
    height: inherit;
    min-width: 80px;
    min-height: 110px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    max-width: 400px;
}