.cell {
    display: inline-block;
    width: 39px;
    height: 39px;
    padding: 0;
    margin: 0;
}

.empty {
    background: transparent;
}

.forest {
    background: green;
}

.village {
    background: red;
}

.river {
    background: cornflowerblue;
}

.field {
    background: wheat;
}

.mountain {
    background: brown;
}