.button {
    height: fit-content;
    box-sizing: content-box;
    margin: 10px;
    padding: 10px 15px;
    background: #FFFFFF;
    border-radius: 15px;
    display: inline-block;
    transition: .1s linear;
}

.accept {
    border: 2px solid #14A0DC;
    box-shadow: 0px 0px 4px 3px rgba(20, 160, 220, 0.22);
}

.deny {
    border: 2px solid #DC1414;
    box-shadow: 0px 0px 4px 3px rgba(220, 20, 57, 0.22);
}

.button.accept:hover {
    background-color: #14A0DC;
    color: white;
}

.button.deny:hover {
    background-color: #DC1414;
    color: white;
}