.button {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 15px;
    background: #FFFFFF;
    border-radius: 15px;
    display: inline-block;
}

.button:hover {
    background-color: rgba(0,0,0,0.06);
}

.accept {
    border: 2px solid #14A0DC;
    box-shadow: 0px 0px 4px 3px rgba(20, 160, 220, 0.22);
}

.deny {
    border: 2px solid #DC1414;
    box-shadow: 0px 0px 4px 3px rgba(220, 20, 57, 0.22);
}