.navbar {
    min-height: 75px;
    background: #FFFFFF;
    border: 1px solid #14A0DC;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    align-items: center;
    justify-content: space-between;
}

.input_wrapper {
    width: 50%;
    height: 40px;
}
