
.rooms_container {
    height: 82vh;
    background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    padding: 20px 0;
    overflow: auto;
}