.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.interactions_wrapper {
    display: flex;
    flex-direction: column;
}

.season {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.buttons_wrapper {
    right: 0;
    top: 0;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.playersIcon {
    width: 60px;
    margin: 15px;
}


.field_img {
    position: relative;
    border-radius: 14px;
    width: 500px;
    user-select: none;
    pointer-events: none;
}

.field_wrapper {
    margin: 10px;
}

.field_wrapper > * {
    margin: 10px;
}

.tasks {
    display: flex;
}